* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: center;
}
textarea {
    resize: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.button {
    text-align: center;
}
button {
    width: 15rem;
    height: 4rem;
    background-color: rgb(38, 38, 207);
    border-radius: 1rem;
    border: none;
    color: white;

}
button:hover {
    background-color: rgb(16, 16, 148);
}
