* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.content {
    width: 45rem;
    height: 50rem;
    background: #6b8bf3;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-family: 'Roboto Mono', monospace;
}
.title {
    text-align: center;
    font-size: 1.5rem;
}
textarea {
    resize: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background: rgb(240, 226, 226);
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    width: 12rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 1rem;
    border: none;
    color: #000;
    cursor: pointer;
}
button:hover {
    background-color: rgb(221, 207, 207);
}

@media(max-width: 500px) {
    .content {
        width: 42rem;
        height: 46rem;
        border-radius: 2.5rem;
    }
}


@media(max-width: 450px) {
    .content {
        width: 30rem;
        height: 40rem;
        border-radius: 2.5rem;
    }
    .title {
        font-size: 1.3rem;
    }
    textarea {
        resize: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 28rem;
        height: 26rem;       
    }
}