* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    display: inline-block;
    background: #fff;
}
.header {
    width: 70%;
    height: 7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid #eb736b;
    background: #eb736b;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.about i {
    font-size: 3rem;
    color: #fff;
}
.swal2-html-container {
    font-size: 1.4rem;
}
.swal2-styled.swal2-confirm {
    background: #8ea8ff ;
    font-size: 1.6rem;
}
.fa-thumbs-up {
    color: #fff;
}

.main {
    width: 100%;
    height: 53rem;
    display: flex;
    justify-content: center;
}
.content {
    width: 45rem;
    height: 50rem;
    background: #8ea8ff;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-family: 'Roboto Mono', monospace;
}
.title {
    text-align: center;
    font-size: 1.5rem;
}
textarea {
    resize: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background: rgb(236, 232, 232);
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    width: 12rem;
    height: 4rem;
    background: #fff;
    border-radius: 1rem;
    border: none;
    color: #000;
    cursor: pointer;
}
button:hover {
    background-color: rgb(221, 207, 207);
}
button i {
    font-size: 2rem;
    color: #353030;
}

.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #eeeeee;
    color: #9a9a9a;
    bottom: 0;
    left: 0;
}
.footer a i {
    font-size: 3rem;
    color: #9a9a9a;
}
.contacto ul li {
    width: 80%;
    display: inline;
    margin: 1rem;
    cursor: pointer;
}
@media(max-width: 800px) {
    .header {
        width: 85%;
        height: 10vh;
    }
    .main {
        width: 100%;
        height: 80vh;
    }
    .footer {
        width: 100%;
        height: 10vh;
    }
}
@media(max-width: 500px) {
    .header {
        width: 90%;
    }
    .content {
        width: 42rem;
        height: 46rem;
        border-radius: 2.5rem;
    }
}


@media(max-width: 450px) {
    .content {
        width: 30rem;
        height: 40rem;
        border-radius: 2.5rem;
    }
    .title {
        font-size: 1.3rem;
    }
    textarea {
        resize: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 28rem;
        height: 26rem;       
    }
}